base = #000000
dark = #1C262B // soft black
light = #2A373E  // soft lighter black
primary = #00BCD4 // cyan-500
primaryLight = #B2EBF2 // cyan-100
primaryDark = #00838F
accent = #1DE9B6 // teal-A400
menuBackground = #232E34 //greenish black background color

dividerColor = lighten(base, 88%)
hintColor = lighten(base, 74%)
iconColor = lighten(base, 46%)
textColor = lighten(base, 70%)

.accent
   background-color accent !important
.primary
   background-color primary !important

orange = #EF6C00