.padding-card
  padding 0px
  background-color white

.header
  font-size 40px
  color white

md-button.action
  margin-left 2%
  margin-top 228px
  position fixed
  color white
  background-color accent !important

.face
  width: 48px
  margin: 16px
  border-radius: 48px
  border: 1px solid #ddd