.padding-card
  padding 0px
  background-color #37474F
  margin-left 5%

.header
  font-size 50px
  color white

md-button.action
  left 72%
  margin-top 226px
  position absolute
  color white
  background-color accent !important
  z-index 100000

.face
  width: 48px
  margin: 16px
  border-radius: 48px
  border: 1px solid #ddd

.profile-divider
  border-top-color #455A64 !important

h2
  color white
