@import '../_stylus/*'
@import '/main/main'
@import '/main/profile/profile'

md-content.md-padding
  padding-top 64px
  background-color #F9F9F9

md-card
  width 60%
  min-height 500px
  margin-top 64px