@import '../_stylus/*'

.active
  background-color accent

// md-content
// md-sidenav
// // ion-content
//  background-color dark !important

// md-sidenav *
//   color textColor

// ion-content
//   background-color light !important