@import '../_stylus/*'
@import '/main/main'
@import '/main/profile/profile'
.active
  background-color dividerColor

md-content.md-padding
  padding-top 64px

md-card
  width 60%
  min-height 500px
  margin-top 64px