.accent {
  background-color: #1de9b6 !important;
}
.primary {
  background-color: #00bcd4 !important;
}
md-sidenav {
  width: 200px;
  background-color: #232e34;
}
md-sidenav h2 {
  color: #fff;
  font-size: 25px;
}
ion-view.pane {
  background-color: #232e34;
}
.active h2 {
  color: #03a9f4;
}
.padding-card {
  padding: 0px;
  background-color: #37474f;
  margin-left: 5%;
}
.header {
  font-size: 50px;
  color: #fff;
}
md-button.action {
  left: 72%;
  margin-top: 226px;
  position: absolute;
  color: #fff;
  background-color: #1de9b6 !important;
  z-index: 100000;
}
.face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd;
}
.profile-divider {
  border-top-color: #455a64 !important;
}
h2 {
  color: #fff;
}
.order {
  width: 300px;
  height: 300px;
  margin: 5px;
  margin-top: 64px;
  background-color: #37474f;
}
.order md-icon {
  float: right;
}
.pic {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 8px;
  background-color: #1de9b6;
}
.order-grid {
  margin-left: 5%;
}
md-content.md-padding {
  padding-top: 156px;
  background-color: #232e34;
}
md-card {
  width: 65%;
  min-height: 500px;
  margin-top: 64px;
}
