.accent {
  background-color: #1de9b6 !important;
}
.primary {
  background-color: #00bcd4 !important;
}
.right-view {
  position: relative;
}
ion-view.pane {
  background-color: #1c262b;
}
.active h2 {
  color: #ef6c00;
}
.order {
  margin: 2px !important;
}
md-content.md-padding {
  background-color: #2a373e;
}
